.bg-hot{ background-color: #330000;}
.bg-hot-active{ background-color: #ee0040;}
.bg-cold{ background-color: #000033;}
.bg-cold-active{ background-color: #4000ee;}
.bg-perfect{ background-color: #003300;}
.bg-perfect-active{ background-color: #40ee40;}
.verticalAlign{  margin: auto;
  width: 100%;
  padding: 10px;
}
.pFont{
  font-size: 1.25rem;
  font-weight: 300;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}
.thresholdWidth {
  width: 230px !important;
}

/* Spinner css code */
.spinner {
  font-size:350%;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index:10
}

.fa-spinner {
    -webkit-animation: spin 3000ms infinite linear;
    animation: spin 3000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
