<span class="fa fa-spinner spinner" *ngIf="loading"></span>
<div class="row verticalAlign">
  <div class="col-md-12 ">
    <h3>Latest DHT22 live reading:</h3>
    <br>
  </div>
  <div class="col-md-7">
    <div>
      <p class="pFont">
        Device name: {{dht22IotReadingPayload?.DeviceName}} <br>
        Temperature: {{dht22IotReadingPayload?.Temperature}} <br>
        Humidity:    {{dht22IotReadingPayload?.Humidity}} <br>
        Time:        {{dht22IotReadingPayload?.Time}}
      </p>
    </div>
    <div>
      <p class="pFont">Comfort indicator:</p>
      <div class="container">
      <div class="row" [title]="ComfortIndicatorTooltip">
        <div class="col-1 {{bgColdClass}} display-4">&nbsp;</div>
        <div class="col-1 {{bgPerfectClass}} display-4">&nbsp;</div>
        <div class="col-1 {{bgHotClass}} display-4">&nbsp;</div>
      </div>
    </div>
      <br>
    </div>
    <br>
    <div class="pFont">
      <label for="coldThresholdId" class="align-top thresholdWidth">Cold threshold({{coldThreshold}}):</label>
      <input type="range" min="0" max="70" step="1" class="custom-range col-4" id="coldThresholdId" [(ngModel)]="coldThreshold" (input)="onInput($event)" >
      <br>
      <label for="hotThresholdId" class="align-top thresholdWidth">Hot threshold({{hotThreshold}}):</label>
      <input type="range" min="72" max="140" step="1" class="custom-range col-4" id="hotThresholdId" [(ngModel)]="hotThreshold" (input)="onInput($event)" >
    </div>
    <br>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Unable to retrieve latest reading.</strong>
    </div>
  </div>
  <div class="col-md-5">
    <img src="./assets/images/RaspberryPiIoTThumbnail.JPG" class="img-thumbnail" alt="RaspberryPi AWS IoT">
  </div>
</div>
<br>
<br>
<br>
