<nav class="navbar navbar-expand-md bg-info navbar-dark font-weight-bold">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button
    class="navbar-toggler bg-dark"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/dht22IoT']" [routerLinkActive]="['active']">DHT22 IoT Demo</a></li>
    </ul>
  </div>
</nav>
<br />
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="container">
  <hr />
  <div class="row">
    <div class="col-6 text-left">
      &copy; {{ today | date: "yyyy" }} - www.justfortest.com, all right
      reserved.
    </div>
    <div class="col-6 text-right">
      All the trademarks are the property of their respective owners.
    </div>
  </div>
</footer>
