<div class="jumbotron jumbotron-index">
  <div class="container text-center bg-grey">
    <h2 class="display-3">Welcome!</h2>
    <p>
        I created my personal website to show my programming capabilities using a variety of development languages and techniques. <br>
        I have over 10 years of experience in software development, building applications that are highly scalable in the Cloud, 
        business analysis, applications support and SDLCs implementation.
    </p>
    <a href="https://bitbucket.org/Experimentation/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a>
  </div>
</div>
<section class="row">
  <div class="col">
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th colspan="3">
            <h3>My Technical Skills:</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-info">C# <span class="badge">Advanced</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">JAVA <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">AWS <span class="badge">Advanced</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Azure <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">ASP.NET MVC <span class="badge">Advanced</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">ASP.NET Web Forms <span class="badge">Advanced</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">HTML <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">CSS <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Bootstrap <span class="badge">Advanced</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">PL/SQL <span class="badge">Intermediate</span></li>
            </ul>
          </td>
          <td>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-info">JavaScript <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">jQuery <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Knockout <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">React <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Angular <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Jenkins <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Splunk <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">IoT <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Python <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Linux <span class="badge">Beginner</span></li>
            </ul>
          </td>
          <td>
            <ul class="list-group">
              <li class="list-group-item list-group-item-action list-group-item-info">Git <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">TFS <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">NHibernate <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Entity Framework <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">RESTful API <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Redis <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Raspberry Pi <span class="badge">Intermediate</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Microsoft Visio <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Microsoft Project <span class="badge">Beginner</span></li>
              <li class="list-group-item list-group-item-action list-group-item-info">Business Analysis <span class="badge">Advanced</span></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row">
  <div class="col-md-4">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h4 class="card-title">Contact Info:</h4>
        <p class="card-text"><a href="mailto:fscloudeng@gmail.com?Subject=From justfortest.com" target="_blank">fscloudeng@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
